.carousel {
  height: 250px !important;
}

.text-bold {
  font-weight: bold;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.50rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.50rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.loader {
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.card .card-content-box {
  padding: 20px !important;
  border-radius: 0 0 2px 2px;
}

.padding-10 {
  padding: 10px !important;
}

.font-5 {
  font-size: 5vw !important;
}

.font-6 {
  font-size: 6vw !important;
}

.font-7 {
  font-size: 7vw !important;
}

.font-8 {
  font-size: 8vw !important;
}

.font-9 {
  font-size: 9vw !important;
}

.font-10 {
  font-size: 10vw !important;
}

.font-15 {
  font-size: 15vw !important;
}

.font-20 {
  font-size: 20vw !important;
}

.bold {
  font-weight: bold;
}

.fit {
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: -fit-content;
}

.w-100 {
  width: 100%;
}